section{
  padding-top: 48px;
}
header.masthead {
  background: url('https://picsum.photos/1900/1080?image=1078') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: serif;
}

header.masthead>.overlay {
  padding: 5rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 992px) {
  header.masthead>.overlay {
    padding: 10rem 0;
  }
}

button.navbar-toggler{
  margin-left: auto;
}

.head-button {
  margin: 0 20px 0 20px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4a4a4a), color-stop(1, #9c9c9c));
	background:-moz-linear-gradient(top, #4a4a4a 5%, #9c9c9c 100%);
	background:-webkit-linear-gradient(top, #4a4a4a 5%, #9c9c9c 100%);
	background:-o-linear-gradient(top, #4a4a4a 5%, #9c9c9c 100%);
	background:-ms-linear-gradient(top, #4a4a4a 5%, #9c9c9c 100%);
	background:linear-gradient(to bottom, #4a4a4a 5%, #9c9c9c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a', endColorstr='#9c9c9c',GradientType=0);
	background-color:#4a4a4a;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:2px solid #525252;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
  opacity: 0.85;
}
.head-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9c9c9c), color-stop(1, #4a4a4a));
	background:-moz-linear-gradient(top, #9c9c9c 5%, #4a4a4a 100%);
	background:-webkit-linear-gradient(top, #9c9c9c 5%, #4a4a4a 100%);
	background:-o-linear-gradient(top, #9c9c9c 5%, #4a4a4a 100%);
	background:-ms-linear-gradient(top, #9c9c9c 5%, #4a4a4a 100%);
	background:linear-gradient(to bottom, #9c9c9c 5%, #4a4a4a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c9c9c', endColorstr='#4a4a4a',GradientType=0);
	background-color:#9c9c9c;
  color: white;
}
.head-button:active {
	position:relative;
	top:1px;
}
#about-company{
  line-height: 1.7;
  font-family:'Arial Black', sans-serif;
}
#title-about{
  font-family:'Arial Black', sans-serif;
  font-size:1.7em;
  text-decoration:none;
  line-height:1.7em;
  color:#000000;
}
#about-company-section{
  border: 3px solid black;
  -moz-box-shadow: 10px 10px 4px 1px #8f8f8f;
	-webkit-box-shadow: 10px 10px 4px 1px #8f8f8f;
	box-shadow: 10px 10px 4px 1px #8f8f8f;
  padding: 15px 0 15px 0;
}
