section{
  padding-top: 60px;

}
.desain_footer{
  margin-top: 5%;
  left: 0;
  overflow:hidden;
  line-height: 60px;
  background-color: #000;
  text-align:center;
  padding:10px;
  height: 50px;
  width: 100%;
  color: rgb(128, 128, 128);
}
.navbar-toggler{
  margin-left: auto;
}

.card {
    /* background: rgba(51, 51, 51, 0.1); */
    margin-top: 1rem;
    padding: 2rem;
}

.flex-container {
    /*outline: auto;*/
    height: rem;
    padding: 1rem;
}

.jumbotron{
  padding: 3rem 2rem;
  margin-bottom: 1rem;
  border: 2px solid black;
}
#lowongan{
  border: 1px solid black;
}

body{
  background: url('https://picsum.photos/1900/1080?image=1031') no-repeat center center scroll;
}
