{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Profile Perusahaan
{% endblock %}

{% block css %}
<!-- <script type="text/javascript" src="//platform.linkedin.com/in.js">
	api_key:   866hc1so0n9js9
	onLoad:    onLinkedInLoad
	authorize: true
</script> -->
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/fitur1.css' %}" /> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}" /> -->
{% endblock %}

{% block header %}
{% include "partials/header.html" %}
{% endblock %}
{% block content %}

<!-- Print errors if any -->
{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
	<strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
	<strong>{{ error|escape }}</strong>
</div>

{% endfor %}
{% endif %}
	<!-- Banner -->
	<section id="banner" style="text-align:center;">
	<div class="inner">
		<header style="text-align:center; background-color:#0077b5; margin-left:600px; margin-right:600px; margin-top:50px; margin-bottom:20px; padding-top:10px; padding-bottom:10px; color:white;">
			<h1 style="text-align:center; font-weight:bold; font-size:500%;">LinggIs</h1>
		</header>

		<a style="text-align:center; color:black; font-size:250%"> Selamat Datang di LinggIs, silahkan masuk terlebih dahulu </a>

		<div style="text-align:center; margin-top:50px;"class="login-logout">
			{% if flag %}
			<a href="{% url 'login:logout' %}" class="btn btn-danger">Logout</a>
			<p style="color: rgba(255,255,255,.5); font-size: medium;">Logged in as {{nama}}</p>
			{% else %}
			<a href="{% url 'login:authenticate' %}" class="button big scrolly" style="font-size:200%; color:white; background-color:#0077b5; padding:10px; margin-right:10px;">Masuk</a>
			{% endif %}
			<a href="#main" class="button big scrolly"style="font-size:200%; color:white; background-color:#0077b5; padding:10px; margin-bottom:100px;">Daftar Pekerjaan</a>
		</div>
	</div>
	</section>

	<!-- Main -->
	<div id="main">
		<!-- Section -->
		<section class="wrapper style1" style="background-color:#0077b5; padding:20px; margin-top:100px;">
			<div class="inner">
				<header class="align-center">
					<h2 style="text-align:center; color:white">Daftar Pekerjaan Sekarang</h2>
					<p></p>
				</header>
				<div class="flex flex-3">
					{% for i in forum %}
					<div class="col align-center">
						<div class="image round fit">
							<img src="images/pic03.jpg" alt="" />
							<p>{{ i.company_id }}</p>
						</div>
						<h2>{{ i.title }}</h2>
						<sub>{{ i.date }}</sub>
						<p>{{ i.content }}</p>
						<div id="reply-{{i.id}}" hidden>
							<ul id="reply-list-{{i.id}}" class="list-group list-group-flush"></ul>
							<form class="card-block" action="{% url 'fitur4:add_comment' %}" method="POST">
								{% csrf_token %}
								<h7 class="card-subtitle">Name</h7>
								<input id="name" class="form-control" type="" name="name" title="name">
								<h7 class="card-subtitle">Content</h7>
								<textarea id="content" class="form-control" name="content" cols="30" rows="5" title="content"></textarea>
								<input id="id" name="id" title="id" value="{{i.id}}" hidden>
						<a id="submit-comment-{{ i.id }}" href="javascript:sendReply({{ i.id }})" class="button">Submit</a>
							</form>
						</div>
						<a id="btn-show-comment-{{ i.id }}" href="javascript:showReplies({{ i.id }},false)" class="button">Show replies</a>
					</div>
					{% endfor %}
				</div>

			</div>
		</section>
	</div>

	<nav>
		{% if forum.has_other_pages %}
		<ul class="pagination" style="justify-content: center; margin-top: 20px">
			{% if forum.has_previous %}
			<li class="page-item"><a class="page-link" href="?page={{ forum.previous_page_number }}#main">&laquo;</a></li>
			{% else %}
			<li class="page-item disabled"><span class="page-link">&laquo;</span></li>
			{% endif %}
			{% for i in forum.paginator.page_range %}
			{% if forum.number == i %}
			<li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
			{% else %}
			<li class="page-item"><a class="page-link" href="?page={{ i }}#main">{{ i }}</a></li>
			{% endif %}
			{% endfor %}
			{% if forum.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ forum.next_page_number }}#main">&raquo;</a></li>
			{% else %}
			<li class="page-item disabled"><span class="page-link">&raquo;</span></li>
			{% endif %}
		</ul>
		{% endif %}
	</nav>

	{% endblock %}

	{% block javascript %}
	<script src="{% static 'js/fitur1.js' %}"></script>
	{% endblock %}
